@font-face {
    font-family: "Circular Std";
    src: url(circular-std-medium-500.ttf);
}
.brand{
    text-align: center;
    color: white;
    font-size: xx-large;
}

.navbar{
    height: 75px;
    background-color: black;
}

.nav-item{
    padding: 10px;
    font-size: 20px;
}

.spotify{
    background-image: linear-gradient(to bottom right, rgb(73, 66, 66), black);
    color: white;
    font-family: "Circular Std";
    font-weight: lighter;
    height: 100%;
}


.align{
    display: table-cell;
    vertical-align: middle;

}

a{
    color: white;
}

a:hover{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.pfp{
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.rounded{
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

html{
    height:1000px;
}
body, div{
    height: 100%;
}