@font-face {
    font-family: "Circular Std";
    src: url(circular-std-medium-500.ttf);
}
.brand{
    text-align: center;
    color: white;
    font-size: xx-large;
}

.navbar{
    height: 75px;
    background-color: black;
}

.nav-item{
    padding: 10px;
    font-size: 20px;
}

.spotify{
    background-image: linear-gradient(to bottom right, rgb(73, 66, 66), black);
    color: white;
    font-family: "Circular Std";
    font-weight: lighter;
    height: 100%;
}

.align{
    display: table-cell;
    vertical-align: middle;

}

a{
    color: white;
}

a:hover{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.pfp{
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.rounded{
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.nav-link{
    padding-top: 5px;
    padding-bottom: 5px;
}

.heading{
    padding: 10px;
    padding-right: 5px;
    padding-left: 15px;
    font-size: 12px;
}

.fa{
    width: 30px;
    height: 30px;
    font-size: 30px;
}

.fa-github{
    transition: .25s;
}

.fa-github:hover{
    color: green;
}

.fa-linkedin{
    transition: .25s;
}

.fa-linkedin:hover{
    color: green;
}

.fa-spotify{
    transition: .25s;
}

.fa-spotify:hover{
    color: green;
}

div.footer{
    width: 200px;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

ul.icons{
    padding: 0;
    list-style: none;
    text-align: center;
}

li.icons{
    display: inline-block;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.name {
    padding-left: 15px;
    font-size: 50px;
    word-spacing: 2px;
    letter-spacing: -2px;
}

.noForms{
    background-color: grey;
    color: #515050;
}

.konvajs-content{
    margin: 0 auto;
    display: block;
}

.MuiFormControl-root.MuiTextField-root{
    color: white;
}

ul.slick-dots li button::before{
    color: green;
    opacity: 75%;
}

ul.slick-dots li.slick-active button:before{
    color:white;

}

.responsiveSlider{
    height: 400px;
    width: 500px
}

div.test:hover{
    transform: scale(1.1);
}
